/* 변수 선언해서 불러서 쓸 수 있도록 함 */
:root{
    /* color */
    --white-color: #ffffff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --gray-light-color: #e0e0e0;
    /* size */
    --padding : 12px;
    --avatar-size : 36px;

    /* font-size */
    --font-large : 20px;
    --font-medium : 14px;
    --font-small : 12px;
    --font-micro : 10px;
}

/* 전체 선택자 : 모든 형태의 모든 요소를 선택한다. */
*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;  
    /* 테두리를 기준으로 크기를 정한다. */
}

/* body의 기본글꼴을 정한다. */
body{
    font-family : Roboto;
}

ul{
    list-style: none; /* ul의 앞에 아이콘 모양 없앰*/
}

button,
button:focus {
    border:none;
    cursor: pointer;
    outline : none;
}
/* header */
header{
    display : flex; /*여러줄을 한줄로 만들어준다*/
    justify-content: space-between; /*양쪽 끝으로 정렬해준다*/
    padding : var(--padding);
    background-color: var(--black-color);
    color : var(--white-color);
}

.logo {
    font-size: var(--font-large);
}

.logo i {
    color : var(--red-color);
}

.icons .fa-search{
    margin-right: var(--padding);
}

.player{
    position : sticky; /* 스크롤 내려도 고정 */
    top : 0; /* 고정위치를 고정해줘야함*/
    text-align: center; /* 중앙배치 */
    background-color: var(--black-color);
}
/* video player 왜 위로 커질까...*/
.player iframe {
    width : 100%;
    height : 100;
    max-width: 1000px;
}

.info {
    padding : var(--padding);
}

.info .metadata .hashtags {
    display : flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li{
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size:  var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;/* css line clamp : 컨텐츠 내용을 제한 하는 것, 2줄로 제한*/
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%; /*morebtn 아이콘 을 위로 올림*/
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}